<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    {% block extrahead %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Forum'>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="{% static "js/modal.js" %}"></script>
    {% endblock %}
</head>
<body>
{% include "logout_modal.html" %}
<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Quotes</a>
  </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        {% block nav %}
        {% endblock %}
    </ul>
    <ul class="nav navbar-nav navbar-right navbar-collapse">
        {% if user.is_authenticated %}
        <li class="dropdown">
            <button type="button" class="dropdown-toggle btn navbar-btn btn-default" data-toggle="dropdown">Logged in as {{ user.username }}<b class="caret"></b></button>
            <ul class="dropdown-menu">
                {% if user.is_staff %}
                    <li><a href="/admin/">Admin</a></li>
                {% endif %}
                <li><a href="{% url "account_logout" %}" onclick="showLogoutModal(); return false;">Logout</a></li>
            </ul>
        </li>
        {% else %}
        <li><a href="{% url "account_login" %}">Sign in</a></li>
        <li><a href="{% url "account_signup" %}">Register</a></li>
        {% endif %}
    </ul>
 </div>
</nav>

<div class="container">
    {% load bootstrap3 %}
    {% bootstrap_messages %}
    {% block body %}
    {% endblock %}
</div>
</body>
</html>
