{% block body %}
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Quote</h4>
      </div>
      <div class="modal-body">
        <p>Delete this quote?</p>
      </div>
      <div class="modal-footer">
        <form method="post" action="{% url "webapp:delete" quote.pk %}">
          {% csrf_token %}
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Yes</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
