{% extends "base.html" %}
{% block title %}Quotes{% endblock %}
{% block nav %}
{% if user.is_authenticated %}
    <li><a href="{% url "webapp:add" %}">Add new</a></li>
{% endif %}
{% endblock %}
{% block body %}
    {% for quote in quotes %}
        <blockquote class="jumbotron">
        <div class="quote">
            <div class="quote-mark">&#8220;</div>
            <pre>{{ quote.quote_text }}</pre>
            <div class="quote-mark quote-end">&#8221;</div>
        </div>
    <small><cite>{{ quote.quote_source }}</cite></small>
    <div class="quote-date">
            <a href="{% url "webapp:view_single" quote.pk %}">Added on: {{ quote.added_on.date }}</a>
    </div>
    </blockquote>
    {% empty %}
        <p>Nothing to see here, would you like to <a href="{% url 'webapp:add' %}">add one</a>?</p>
    {% endfor %}
    {% if is_paginated %}
    <ul class="pager">
        {% if page_obj.has_previous %}
            {% if page_obj.previous_page_number == 1 %}
            <li><a href="{% url "webapp:view_all" %}">Previous</a></li>
            {% else %}
            <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}
