{% extends "base.html" %}
{% block title %}Quotes{% endblock %}
{% block nav %}
<li><a href="{% url "webapp:add" %}">Add new</a></li>
{% endblock %}
{% block body %}
        {% for i in quotes %}
            <blockquote class="jumbotron">
            <div class="quote">
                <div class="quote-mark">&#8220;</div>
                <p>{{ i.quote_text }}</p>
                <div class="quote-mark">&#8221;</div>
            </div>
        <small><cite>{{ i.quote_source }}</cite></small>
        <div class="quote-date">
                <a href="/quotes/{{i.pk}}">Added on: {{ i.added_on.date }}</a>
        </div>
        </blockquote>
        {% empty %}
            <p>Nothing to see here, would you like to <a href="{% url 'webapp:add' %}">add one</a>?</p>
        {% endfor %}
{% endblock %}
