{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block extrahead %}
<script type="text/javascript" src="{% static "js/modal.js" %}"></script>
{% endblock %}
{% block title %}Quote #{{quote.pk}}{% endblock %}
{% block nav %}
<li><a href="{% url "webapp:delete" quote.pk %}" onclick="showModal(); return false;" id="deleteLink">Delete</a></li>
<li><a href="{% url "webapp:edit" quote.pk %}" id="editLink">Edit</a></li>
{% endblock %}
{% block body %}
{% include "delete.html" %}
    <h1>Quote #{{quote.pk}}</h1>
        <blockquote class="jumbotron">
            <div class="quote">
                <div class="quote-mark">&#8220;</div>
                <pre>{{ quote.quote_text }}</pre>
                <div class="quote-mark quote-mark-end">&#8221;</div>
            </div>
        <small><cite>{{ quote.quote_source }}</cite></small>
        <div class="quote-date">
                Added on: {{quote.added_on}}
        </div>
        </blockquote>
{% endblock %}
