{% extends "base.html" %}
{% block title %}Quote #{{quote.pk}}{% endblock %}
{% block nav %}
{% if user.is_authenticated %}
<li><a href="{% url "webapp:delete" quote.pk %}" onclick="showDeleteModal(); return false;" id="deleteLink">Delete</a></li>
<li><a href="{% url "webapp:edit" quote.pk %}" id="editLink">Edit</a></li>
{% endif %}
{% endblock %}
{% block body %}
    {% include "delete_modal.html" %}
    <h1>Quote #{{quote.pk}}</h1>
        <blockquote class="jumbotron">
            <div class="quote">
                <div class="quote-mark">&#8220;</div>
                <pre>{{ quote.quote_text }}</pre>
                <div class="quote-mark quote-mark-end">&#8221;</div>
            </div>
           <span class="quote-date">Added on: {{quote.added_on}}</span>
           <small><cite>{{ quote.quote_source }}</cite></small>
       </blockquote>
{% endblock %}
