blockquote small {
    float: right;
}

.quote-mark {
    font-size: 200%;
    vertical-align: top;
    display: inline-block;
    line-height: 1;
}

.quote-end {
    vertical-align: bottom;
}

.quote {
    vertical-align: top;
}

.quote p {
    display: inline-block;
    font-family: Forum;
    font-size: 120%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
    word-wrap: break-word;
    white-space: pre-line;
}

.quote-date {
    font-size: 50%;
    clear: both;
}

.jumbotron {
    padding-bottom: 1%;
}
